<div class="register">
<br />
<div class="col col-md-12 subTitle2">
<h3>Sign Up for your Mosaic Blends Account</h3>
</div>
<div class="signup">
    <form action="/users/register" method="post" >
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control is-valid" name="firstName" value="{{firstname}}" id="validationServer01" placeholder="First name" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-2 mb-1"></div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control is-valid" name="lastName" value="{{lastname}}" id="validationServer02" placeholder="Last name" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <br />
    <br />
  </div>
  <div class="form-row">
        <div class="col-md-4 mb-3">
      <label for="validationServerUsername">Email</label>
        <input type="text" class="form-control is-invalid" name="email" value="{{email}}" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
        <div class="invalid-feedback">
          Please enter your email.
        </div>
    </div>
  </div>
  <form class="form-inline">
  <div class="form-group">
      <div class="form-row">
      <div class="col-md-4 mb-3">
    <label for="inputPassword6">Password</label>
    <input type="password" name="password" id="inputPassword6" value="{{password}}" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
    <small id="passwordHelpInline" class="text-muted">
      Must be 8-20 characters long.
    </small>
    </div>
     <div class="col-md-2 mb-1"></div>
    <div class="col-md-4 mb-3">
    <label for="inputPassword6">Re-Enter Password</label>
    <input type="password" name="password2" value="{{password2}}" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
    </div>
    </div>
  </div>
</form>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>
</div>